html {
    scroll-behavior: smooth;
}
body {
    color: white;
    background-color: #141414;
    scroll-behavior: smooth;
}
::selection {
    background-color: white;
    color: black;
}

a {
    transition: all 0.3s ease 0s;
    color: #fff;
    text-decoration: underline;
}
a:visited {
    transition: all 0.3s ease 0s;
    color: #fff;
    text-decoration: underline;
}
a:hover, a:active, a:focus {
    transition: all 0.3s ease 0s;
    color:#c33;
    text-decoration: underline;
}


h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
}
p {
    text-align: center;
    font-size: 2em;
}

#desktop {
    visibility: visible;
}
#mobile {
    visibility: hidden;
}
.all {
    visibility: visible;
}
.keanu {
    margin: 0 auto;
}


video {
    display: block;
    margin: 0 auto;
    width: 80%;
    cursor: pointer;
}
img {
    display: block;
    margin: 0 auto;
    width: 55%;
}
audio {
    display: block;
    margin: 0 auto;
    width: 500px;
}


#why {
    text-transform: capitalize;
    font-size: 4em;
    margin-top: 20%;
    text-decoration: underline;
}
#reasons {
    padding-bottom: 100px;
    text-align: center;
    list-style: none;
    font-size: 1.5em;
    margin-top: 50px;
}
#keanu_section {
    margin: 0 auto;
    text-align: center;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    width: 800px;
}


@media only screen and (max-width: 600px){
    p {
        font-size: 1em;
    }
    h1 {
        font-size: 2em;
        margin-top: 70px;
    }

    #mobile {
        visibility: visible;
    }
    #desktop {
        visibility: hidden;
    }
    .all {
        visibility: visible;
    }

    video {
        width: 100%;
    }
    img {
        width: 100%;
    }


    #why {
        font-size: 2em;
    }
    #reasons {
        font-size: 1.5em;
    }
    #keanu_section {
        width: 300px;
    }
    audio {
        width: 250px;
    }
}

